body {
    margin: 0;
}


.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #11999E;
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 15%);
}


.navbar .leftSide {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.navbar .leftSide .links {
    max-height: 60px;
}


.navbar .leftSide .links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
}


.navbar .rightSide {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;
}


.navbar .rightSide .links {
    display: none;
}


.navbar .rightSide .menuButton {
    display: flex;
    margin-right: 20px;
    color: white;
}


.navbar .rightSide .greeting {
    color: white;
    margin-right: 10px;
    font-size: 12px;
}


.navbar .rightSide .links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 15px;
}


.navbar .rightSide .links a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


.navbar .rightSide #hidden {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 180px;
    max-height: 180px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 60%;
    z-index: 1;
}


.navbar .rightSide #hidden a {
    margin-top: 15px;
    font-size: 20px;
}


#hide-greeting {
    display: none;
}


#hide-menuButton {
    display: none;
}


.navbar-brand {
    color: white;


}


.navbar-icon {
    margin-right: 8px;
    color: white;
}


.test {
    background-color: white;
}


.panel {
    border-style: solid;
    border-color: #D3D3D3;
    border-top-color: #11999E;
    border-radius: 5px;
    border-width: 1px;
    border-top-width: 2px;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%)
}


.editor-pane {
    overflow: auto;
    max-height: calc(40vh);
}


.editor-panel {
    border-style: solid;
    border-color: #D3D3D3;
    border-top-color: #11999E;
    border-radius: 5px;
    border-width: 1px;
    border-top-width: 2px;
    margin-bottom: 80px;
    margin-top: 6px;
    padding: 15px;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%)
}


.addTaskPage-h {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.card {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 4px;
}


.main-frame {
    margin-left: 10px;
    margin-right: 10px;
}


.radio-component {
    font-family: Lato, 'Roboto', sans-serif;
    margin: 20px 5px 20px 3px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}


.radio-component h2 {
    margin-top: 0;
    margin-bottom: 8px;
}


.upcoming-images {
    font-family: Lato, 'Roboto', sans-serif;
    margin: 20px 5px 20px 3px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}


.upcoming-images h2 {
    margin-top: 0;
    margin-bottom: 10px;
}


.sidebar {
    overflow: auto;
    height: 520px;
}


.sidebar-title {
    margin-bottom: 14px;
}


.sidebar-images {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%);
}


#middle-component {
    padding-left: 0;
    padding-right: 0;
}


.box-annotator {
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
    cursor: crosshair;
}


.image-frame {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.box-selector {
    border: 2px dotted rgb(0, 255, 0);
    position: absolute;
}


.selected-box {
    position: absolute;
    font-family: monospace;
    font-size: small;
}


.close-button {
    position: absolute;
    top: -7px;
    right: -7px;
    color: black;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    display: none;
}


.label-box {
    padding-left: 4px;
    overflow: hidden;
    user-select: none;
}


#reset-button {
    font-family: 'Montserrat', sans-serif;
}


#submit-button {
    float: right;
    font-family: 'Montserrat', sans-serif;
}


.message-box {
    margin-top: 20px;
    margin-bottom: 30px;
}


.message-box h3 {
    font-family: Lato, 'Roboto', sans-serif;
    margin-bottom: 10px;
}


#log-textarea {
    background-color: white !important;
    color: black;
    font-family: monospace;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #D3D3D3;
}


.right-image-info {
    font-family: Lato, 'Roboto', sans-serif;
    margin: 20px 5px 20px 3px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    overflow: auto;
}


.right-image-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
}


.right-image-info p {
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 8px;
}


.right-image-info p strong {
    font-weight: 540;
}


.right-annotation-info {
    font-family: Lato, 'Roboto', sans-serif;
    margin: 20px 5px 20px 3px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    height: 480px;
    overflow: auto;
}


.right-annotation-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
}


.annotation-bar {
    overflow: auto;
    height: 395px;
}


.entry {
    background-color: #f5f5f5;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}


.line {
    margin-top: 0px;
    margin-bottom: 5px;
}

.info-bold {
    font-family: Lato, sans-serif;
    font-weight: 540;
}


#default-page {
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}


.default-page-text {
    display: table-cell;
    vertical-align: middle;
}


.default-page-text h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
}